@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  @apply flex items-center justify-center;
}

.tippy-popper,
.tippy-tooltip {
  padding: 0px !important;

  .action-dialog {
    color: #808080;
    background-color: white;
  }
}

.tippy-popper {
  max-width: 500px !important;
}

.btn {
  @apply relative inline-flex h-9 items-center whitespace-nowrap rounded-sm border-none bg-transparent px-2 py-2 text-center text-sm font-semibold leading-none text-black;
}

.btn--red {
  @apply bg-primary-600 text-white;
}

@import 'components/index';

/* Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 8px; /* Set the width for vertical scrollbar */
  height: 8px; /* Set the height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f8f8f8; /* Track color */
  border-radius: 10px; /* Round the corners of the track */
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3; /* Scrollbar thumb color */
  border-radius: 10px; /* Round the corners of the thumb */
  border: 2px solid #f1f1f1; /* Thumb border color to match the track */
}

::-webkit-scrollbar-thumb:hover {
  background: #838383; /* Hover effect for the thumb */
}

/* Firefox */
scrollbar {
  width: 8px; /* Set the width for vertical scrollbar */
  height: 8px; /* Set the height for horizontal scrollbar */
}

scrollbar-track {
  background: #f8f8f8; /* Track color */
}

scrollbar-thumb {
  background: #a3a3a3; /* Scrollbar thumb color */
  border-radius: 10px; /* Round the corners of the thumb */
}

scrollbar-thumb:hover {
  background: #838383; /* Hover effect for the thumb */
}

.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

.btn-primary {
  @apply bg-primary-500 text-sm text-white px-4 py-2 rounded-lg hover:bg-primary-600 h-10 max-h-[40px]
  focus:outline-none focus:ring focus:ring-primary-500 focus:border-primary-500 cursor-pointer;
}

.btn-secondary {
  @apply bg-grey-200 text-sm text-grey-700 px-4 py-2 rounded-lg hover:bg-grey-300 h-10 max-h-[40px]
  focus:outline-none focus:ring focus:ring-grey-400 focus:border-grey-400 cursor-pointer;
}

.react-datepicker-wrapper {
  height: 37px;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

  .react-datepicker__input-container {
    height: 100%;

    input {
      height: 100%;
      padding: 8px;
      color: #333333;
    }
  }
}
